@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import '../../../utils';

.count {
  padding: 10vh 0 5vh 0;
  background-color: #F7F7F7;



  .title {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 2vh;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight:600;
  }

  @include media("<medium"){
    .title{
      font-size: 1.5rem;
      text-align: center;
      padding-bottom: 2vh;
      color: #000000;
      font-family: 'Roboto', sans-serif;
      font-weight:600;
    }
  }

  .box {
    width: 8rem;
    height: 5rem;
    

    .countBox {
      position: absolute;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
      background-color: #000;
    }
  }


  .root {
    //flexGrow: 1;
    margin: 0 0 0 0 ;
    //flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;

  }

  .paper {
    textAlign: 'center';
  }


}