@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.header {
    background-color: #282c34;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: white;
    margin: 0 auto;
    max-width: 1140px;
    padding-top:30px;
}

.items .title {
    font-size: 1rem;
}

.items .main-nav {
    float: right;
}

.items a{
    display:inline-block;
    text-decoration:none;
    color:white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight:400;
    margin:0 20px;
    height: 20px;
    overflow: hidden;
}

.items a span{
    display: inline-block;
    position:relative;
    transition: transform 500ms;
    -webkit-transition: -webkit-transform 500ms;
    -moz-transition: transform 500ms;
}

.items a span:after{
    content: attr(data-hover);
    position: absolute;
    top: -30px;
    left:0;
    transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}

.items a:hover span,
.items a:focus span {
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
}