.Header {
    text-align: center;
}

.Header header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
  
.Header .title {
    color: #61dafb;
}

.Header .subText {
    font-weight: normal;
}

.Header button {
    border: 1px solid rgb(97, 218, 251);
    /* background-color: rgba(97,218,251,255); */
    background-color: rgba(97,218,251,0);
    border-radius: 5px;
    color: #61dafb;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
}

.Header button:hover {
    border: 1px solid white;
    background-color: rgba(97,218,251,255);
    color: white;
}

.Header button:focus {
    outline: none;
}

.Header .border {
    position: absolute;
    bottom: 0px;
    height: 50px;
    width: 0px;
    border: 1px solid white;
    border-right: 0px;
}

.Header span {
    color: #282c34;
}