@import '../../../utils';

.intro {
    word-break: keep-all;
    background-color: #F7F7F7;
    padding-left: 7vh;
    padding-right: 7vh;
    font-family: 'Nanum Pen Script', cursive;

    font-size: 25px;

    &::after {
        display: block;
        border-right: 1px solid red;
        height: 30px;
    }
}

@include media("<medium"){
    .intro{
        padding: 0;
    }
}