@import '../../utils';

.navigator {
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: #282c34;
  //padding-bottom: 1vh;
  scroll-behavior: smooth;

  .items {
    display: block;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    color: white;
    margin: 0 auto;
    max-width: 720px;

    padding: 2vh 0 2vh 0;


    .title {
      font-size: 1.5rem;
      font-weight: bold;

      @include media("<large") {
        font-size: 1.5rem;
        padding: 0;
      }
      @include media("<medium") {
        font-size: 1.3rem;
        padding-left: 3vh;
      }
    }

    .main-nav {
      float: right;
      height: 100%;
      padding-top: 0.5vh;

      @include media("<large") {
        visibility: visible;
        position: static;
        z-index: -1;
      }
      @include media("<medium") {
        visibility: collapse;
        position: fixed;
        z-index: 2;
      }

      a{
        display: inline-block;
        text-decoration:none;
        color:white;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight:600;
        margin:0 20px;
        height: 20px;
        overflow: hidden;
      }

      span{
        display: inline-block;
        position:relative;
        transition: transform 500ms;
        -webkit-transition: -webkit-transform 500ms;
        -moz-transition: transform 500ms;
      }

      span:after{
        content: attr(data-hover);
        position: absolute;
        top: -30px;
        left:0;
        transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
      }

      a:hover span,
      a:focus span {
        transform: translateY(30px);
        -webkit-transform: translateY(30px);
        -moz-transform: translateY(30px);
      }
    }

    @include media("<large") {
      visibility: visible;
    }
    @include media("<medium") {
      visibility: hidden;
    }



  }
}

